@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  font-family: "Overpass", sans-serif;
  font-size: 100%;
  font-weight: 400;
  
}
p{
  font-size: 0.9375rem;
  
}

h1,
h2,
h3 {
 
  font-weight: 700;
}
